<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>My first Vue app</title>
    <script src="https://unpkg.com/vue"></script>
    <style type="text/css">
    </style>
</head>
<body>

    <!-- Guided from https://vuejs.org/v2/guide/list.html -->
    <!-- # Mapping an Array to Elements with v-for -->
    <!-- We can use the v-for directive to render a list of items based on an array.
    The v-for directive requires a special syntax in the form of item in items, where items is the source data array and item is an alias for the array element being iterated on
    -->
    <ul id="example-1">
        <li v-for="item in items">
            {{ item.message }}
        </li>
    </ul>


    <script>
        vm = new Vue({
            el: '#example-1',
            data: {
                items: [
                    { message: 'Foo' },
                    { message: 'Bar' }
                ]
            }
        });

    </script>

    <!-- Inside v-for blocks we have full access to parent scope properties.
        v-for also supports an optional second argument for the index of the current item
        -->

    <ul id="example-2">
        <li v-for="(item, index) in items">
            {{ parentMessage }} - {{ index }} - {{ item.message }}
        </li>

        <!-- You can also use of as the delimiter instead of in, so that it is closer to JavaScript’s syntax for iterators
        -->

        <div v-for="item of items">
            {{ item.message }}
        </div>
    </ul>

    <script>
        var example2 = new Vue({
            el: '#example-2',
            data: {
                parentMessage: 'Parent',
                items: [
                    { message: 'Foo' },
                    { message: 'Bar' }
                ]
            }
        })
    </script>

    <!-- # v-for with an Object -->
    <!-- You can also use v-for to iterate through the properties of an object.
    -->

    <ul id="v-for-object" class="demo">
        <li v-for="value in object">
            {{ value }}
        </li>

        <!-- You can also provide a second argument for the key -->
        <div v-for="(value, key) in object">
            {{ key }}: {{ value }}
        </div>

        <!-- And another for the index -->
        <div v-for="(value, key, index) in object">
            {{ index }}. {{ key }}: {{ value }}
        </div>

        <!-- *** When iterating over an object, the order is based on the key enumeration order of Object.keys(), which is not guaranteed to be consistent across JavaScript engine implementations. -->
        <!-- When Vue is updating a list of elements rendered with v-for, by default it uses an “in-place patch” strategy.
        If the order of the data items has changed, instead of moving the DOM elements to match the order of the items, Vue will patch each element in-place and make sure it reflects what should be rendered at that particular index.
        This is similar to the behavior of track-by="$index" in Vue 1.x.

        This default mode is efficient, but only suitable when your list render output does not rely on child component state or temporary DOM state (e.g. form input values).

        To give Vue a hint so that it can track each node’s identity, and thus reuse and reorder existing elements, you need to provide a unique key attribute for each item.
        An ideal value for key would be the unique id of each item.
        This special attribute is a rough equivalent to track-by in 1.x, but it works like an attribute, so you need to use v-bind to bind it to dynamic values (using shorthand here)
        -->
        
        <div v-for="(item, key) in object" :key="key">
            {{ item }}
        </div>
        
        <!-- It is recommended to provide a key with v-for whenever possible, unless the iterated DOM content is simple, or you are intentionally relying on the default behavior for performance gains.

        Since it’s a generic mechanism for Vue to identify nodes, the key also has other uses that are not specifically tied to v-for, as we will see later in the guide. 
            -->
    </ul>

    <script>
        new Vue({
            el: '#v-for-object',
            data: {
                object: {
                    firstName: 'John',
                    lastName: 'Doe',
                    age: 30
                }
            }
        })
    </script>



</body>
</html>